<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6"/>
  </system.web>
  <system.serviceModel>

    <bindings>
      <basicHttpBinding>
        <binding name="httpBindingConfiguration"
                 sendTimeout="00:03:00"/>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="secureHttpBindingConfiguration"
                 sendTimeout="00:03:00">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </wsHttpBinding>
      <netTcpBinding>
        <binding name="netTcpBindingConfiguration"
                 sendTimeout="00:03:00"/>
      </netTcpBinding>
      <netNamedPipeBinding>
        <binding name="netNamedPipeBindingConfiguration"
                 sendTimeout="00:03:00"/>
      </netNamedPipeBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="AccumulatorServiceBehavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true"
                           httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service name="L9_Task1_WCF_Conifg_Service.AccumulatorService"
               behaviorConfiguration="AccumulatorServiceBehavior">
        <endpoint address=""
                  binding="basicHttpBinding"
                  bindingConfiguration="httpBindingConfiguration"
                  contract="L9_Task1_WCF_Conifg_Service.IAccumulatorService"/>
        <endpoint address=""
                  binding="wsHttpBinding"
                  bindingConfiguration="secureHttpBindingConfiguration"
                  contract="L9_Task1_WCF_Conifg_Service.IAccumulatorService"/>
        <endpoint address=""
                  binding="netTcpBinding"
                  bindingConfiguration="netTcpBindingConfiguration"
                  contract="L9_Task1_WCF_Conifg_Service.IAccumulatorService"/>
        <endpoint address=""
                  binding="netNamedPipeBinding"
                  bindingConfiguration="netNamedPipeBindingConfiguration"
                  contract="L9_Task1_WCF_Conifg_Service.IAccumulatorService"/>
      </service>
    </services>

    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
