<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAccumulatorService" />
            </basicHttpBinding>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IAccumulatorService" />
            </netNamedPipeBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IAccumulatorService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IAccumulatorService">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:81/AccumulatorService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccumulatorService"
                contract="AccumulatorService.IAccumulatorService" name="HttpBinding_IAccumulatorService" />
            <endpoint address="https://proton37/AccumulatorService.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IAccumulatorService" contract="AccumulatorService.IAccumulatorService"
                name="ShttpBinding_IAccumulatorService" />
            <endpoint address="net.tcp://proton37/AccumulatorService.svc"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAccumulatorService"
                contract="AccumulatorService.IAccumulatorService" name="NetTcpBinding_IAccumulatorService">
                <identity>
                    <servicePrincipalName value="host/Proton37" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://wcfpipe/AccumulatorService.svc"
                binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IAccumulatorService"
                contract="AccumulatorService.IAccumulatorService" name="NetNamedPipeBinding_IAccumulatorService">
                <identity>
                    <servicePrincipalName value="host/Proton37" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>